<div class="container">
	<div class="row">
		<div class = "col-md-6 col-md-offset-3">
			<div class = "text-center">
				<h1>This is Eric Luo's Website!</h1>
				<%= image_tag("cooler.jpg") %>
			</div>
			<br>
			<ul>
				<li>Eric likes coding and going to gym.</li>
				<li>He is a beginner in programing.</li>
				<li>He can now code in HTML, CSS, JavaScript, jQuery, SQL, Visual Basics and Ruby on Rails</li>
			</ul>
		</div>
	</div>
</div>	