<div class="container">
	<div class="paragraph">	
		<h1 class="text-center">This is Eric Luo's Gallery!</h1>
	</div>	
	<button type="button" class="btn btn-default center-block hide-picture">Hide Picture</button>
	<div class="toggle">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<div class="thumbnail">
				    <%= image_tag("sea.jpg") %>
				    <div class="caption">
						<h3>This is my garden</h3>
						<p>I sometimes will have my English tea here</p>
						<p><a href="#" class="btn btn-primary" role="button">Like</a></p>
				    </div>
				</div>
			</div>
			<div class=" col-md-6">
				<div class="thumbnail">
				    <%= image_tag("shanghai.jpg") %>
				    <div class="caption">
						<h3>This is my Hometown</h3>
						<p>I sometimes will do my math homework here</p>
						<p><a href="#" class="btn btn-primary" role="button">Like</a></p>
				    </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<div class="thumbnail">
				    <%= image_tag("julie.jpg") %>
				    <div class="caption">
						<h3>This is my Girlfriend!</h3>
						<p>I Love Her</p>
						<p><a href="#" class="btn btn-primary" role="button">Like</a></p>
				    </div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="thumbnail">
				    <%= image_tag("julie2.jpg") %>
				    <div class="caption">
						<h3>We draw together!</h3>
						<p>Lots of fun!</p>
						<p><a href="#" class="btn btn-primary" role="button">Like</a></p>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>