<div class="mainimage">	
	<div class = "col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6 col-xs-6 col-xs-offset-6">
		<div class="mainimageword">
			<h2>WELCOME TO ERIC'S WEBSITE</h2>
			<div class="btn-group" role="group" aria-label="...">
				<a href="pages/about.html">
					<button type="button" class="btn btn-default">Click To Find Out More</button>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<br><hr>
	<div class = "col-md-6 col-md-offset-3">
		<div class = "text-center">
			<h1>Who is Eric Luo?</h1>
			<%= image_tag("minion_stuart.jpg", class: "minion center-block img-responsive") %>
		</div>
		<br>
		<ul>
			<li>Eric likes coding and going to gym.</li>
			<li>He is a beginner in programing.</li>
			<li>He can now code in HTML, CSS, JavaScript, jQuery, SQL, Visual Basics and Ruby on Rails</li>
		</ul>
	</div>
			
</div>
