<div class="text-center center-block">
    <h4>Upload Your Company's Transcript</h4><br>
    <div class="form-group">
        <input type="file" accept='text/plain' class="text-center center-block"><br>
        <button type="submit" class="btn btn-default transcript_upload">Submit</button>
    </div>
    <h4 class="transcript_output">Here is the output: </h4>
</div>

